@import "../_variables.scss";

.user-data {
  border-top: 1px solid $top-color-light;
  border-bottom: 1px solid $top-color-light;
  padding: 28px 0px;
  background-color: $background-color-light;

  &--dark {
    border-top: 1px solid $top-color-dark;
    border-bottom: 1px solid $top-color-dark;
    background-color: $background-color-dark;
  }
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 28px 16px 28px;
  min-width: 0px;
  font-size: 14px;
  font-family: system-ui;
  font-weight: 400;
  background-color: #F7F9FA;
  padding: 0 2px;
  border-radius: 2px;

  &-primary {
    color: $text-primary-color-light;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: -webkit-fill-available;

    &--dark {
      color: $text-primary-color-dark;
    }
  }

  &-secondary {
    color: $text-secondary-color-light;
    margin-right: 8px;

    &--dark {
      color: $text-secondary-color-dark;
    }
  }

  &--dark {
    @extend .user-info;
    background-color: transparent;
  }
}