@import "src/Assets/CSS/variables";

.loader-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  min-height: 256px;
}

.loader-text {
  margin-top: 8px;
  color: $background-color-message-dark;
  font-family: system-ui;
}