$top-color-light: #F7F9FA;
$top-color-dark: #363B44;
$text-primary-color-light: #343B49;
$text-primary-color-dark: #FFFFFF;
$text-secondary-color-light: #7A8292;
$text-secondary-color-dark: #C2C7CE;
$online-status: #60D2A3;
$background-color-light: #FFFFFF;
$background-color-dark: #3D4148;
$background-color-message-light: #F1F7FF;
$background-color-message-dark: #47889E;
$text-error-color: #E34309;
$selected-icon: #55AFCD;