@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 8px;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 25px 6px rgba(34, 60, 80, 0.25);
}