@import "../_variables.scss";

.input {
    width: 100%;
    border: 2px solid #cccccc;
    border-radius: 6px;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
    width: 94%;
    margin: 0 auto;

    &:focus {
        outline: none !important;
        border-color: $background-color-message-dark;
    }

    &:hover {
        border-color: $background-color-message-dark;
    }
}