@import '../../variables';

.user-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

    .primary {
        fill: #C2D7DE;
    }

    &--selected {
        .primary {
            fill: $selected-icon;
        }
    }

    &:hover {
        .primary {
            fill: $background-color-message-dark;
        }
    }
}